*.user
*.suo
*.sln.cache
*.pdb
[bB]in/
[oO]bj/
*.vssscc
*.vspscc
*.dbmdl
*.opensdf
*.sdf
packages
ipch
Debug
x64
ClientBin
Generated_Code
Blobs
Logs
[sS]ql
~*
*.Publish.xml
Thumbs.db
tutorial.wmv
settings.xml